In [19]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
import lightgbm as lgb
from sklearn.model_selection import StratifiedKFold
from sklearn import metrics
import warnings

warnings.filterwarnings('ignore')
train_path = './hy_round1_train_20200102'
test_path = './hy_round1_testA_20200102'

In [20]:
train_files = os.listdir(train_path)
test_files = os.listdir(test_path)
print(len(train_files), len(test_files))

7000 2000

In [21]:
train_files[:3]

['0.csv', '1.csv', '10.csv']

In [22]:
test_files[:3]

['7000.csv', '7001.csv', '7002.csv']

In [23]:
df = pd.read_csv(f'{train_path}/6966.csv')

In [24]:
df.head()

   渔船ID             x             y    速度   方向           time type
0  6966  6.265902e+06  5.279254e+06  0.11  306  1106 23:58:16   围网
1  6966  6.265902e+06  5.279254e+06  0.00    0  1106 23:48:21   围网
2  6966  6.265902e+06  5.279254e+06  0.00    0  1106 23:38:19   围网
3  6966  6.265902e+06  5.279254e+06  0.00    0  1106 23:28:36   围网
4  6966  6.265902e+06  5.279254e+06  0.32  130  1106 23:08:17   围网

In [25]:
df['type'].unique()

array(['围网'], dtype=object)

In [26]:
df.shape

(389, 7)

In [27]:
ret = []
for file in tqdm(train_files):
    df = pd.read_csv(f'{train_path}/{file}')
    ret.append(df)
df = pd.concat(ret)
df.columns = ['ship','x','y','v','d','time','type']

100%|██████████████████████████████████████████████████████████████████████████████| 7000/7000 [01:25<00:00, 81.98it/s]

In [28]:
# df.to_hdf('./output/train.h5', 'df', mode='w')
df.to_hdf('./output/train.h5', 'df', mode='w', format = 'table')

In [29]:
ret = []
for file in tqdm(test_files):
    df = pd.read_csv(f'{test_path}/{file}')
    ret.append(df)
df = pd.concat(ret)
df.columns = ['ship','x','y','v','d','time']

100%|█████████████████████████████████████████████████████████████████████████████| 2000/2000 [00:12<00:00, 159.97it/s]

In [30]:
# df.to_hdf('./output/test.h5', 'df', mode='w')
df.to_hdf('./output/test.h5', 'df', mode='w', format = 'table')

In [31]:
df.shape

(782378, 6)

In [32]:
df.head()

   ship             x             y     v    d           time
0  7000  7.118845e+06  5.918277e+06  0.11    0  1103 11:54:32
1  7000  7.118940e+06  5.918285e+06  0.32  346  1103 11:44:32
2  7000  7.118948e+06  5.918174e+06  0.11    0  1103 11:34:43
3  7000  7.118948e+06  5.918174e+06  0.11   71  1103 11:14:30
4  7000  7.118948e+06  5.918174e+06  0.11   30  1103 11:04:46